body {
	position: absolute;
	margin: 0px;
	height: 100%;
	width: 100%;
	background-image: url("./img/bg3.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

img {
	transition: transform .1s;
}
img:hover {
	transform: scale(1.3);
}

.games {
	user-select: none;
	position: relative;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 380px;
}

button {
	background-color: transparent;
	border: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.text {
	color: red;
	font-family: Calibri;
}